<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script defer src="../scripts/MemoryGame.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Poppins"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/33938235e4.js"
      crossorigin="anonymous"
    ></script>

    <title>Memory Game</title>
  </head>
  <body class="bg-teal-100 text-center">
    <p class="text-5xl p-10">Memory Game</p>
  </body>
</html>
