<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script defer src="app.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Poppins"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/33938235e4.js"
      crossorigin="anonymous"
    ></script>
    <!-- <style type="text/tailwindcss">
      @layer utilities {
        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        .hello {
          color: #000;
          background-color: #19e3fa;
        }
        .btn {
          padding: 5px;
        }
        .test {
          border-color: red;
          border-style: solid;
          border-width: 3px;
        }
      }
    </style>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            container: {
              center: true,
            },
            colors: {
              clifford: "#da373d",
            },
            screens: {
              xs: "480px",
            },
            minWidth: {
              px200: "200px",
            },
          },
        },
      }; -->
    </script>
    <title>Note Taker</title>
  </head>
  <body class="bg-teal-100 text-center">
  <p class="text-5xl p-10">Note Taker</p></body>
</html>
