<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script defer src="../scripts/VowelCounter.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Poppins"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/33938235e4.js"
      crossorigin="anonymous"
    ></script>
    <title>Vowel Counter</title>
  </head>
  <body class="bg-gradient-to-r from-indigo-400 to-cyan-400 text-center">
    <h1 class="text-5xl p-10">Vowel Counter</h1>
    <label for="inputText" class="text-lg font-semibold mb-5"
      >Enter text:</label
    >
    <input
      type="text"
      id="inputText"
      placeholder="Type here..."
      required
      class="text-lg px-3 py-2 rounded-lg mx-3 focus:outline-none"
    />
    <button
      onclick="countVowels()"
      class="bg-blue-700 hover:bg-blue-800 px-3 py-2 text-white rounded-md"
    >
      Count Vowels
    </button>
    <p class="mt-5 text-lg" id="result"></p>
  </body>
</html>
